// Colors
$tea: #009394; 
$darkTea: #006270;
$ligthTea: #00E0C7;
$teaTransparent: rgba(0, 147, 148, 0.9);
$black: #202020;
$greyLighten: #f5f5f5;
$grey: #eeeeee; 

// Shadows
$shadow: 2.5px 2.5px 5px rgba(21, 21, 21, 0.25);
$shadowNavBar: 0px 2.5px 5px rgba(21, 21, 21, 0.25);

// Fonts
$mainFont: 'Ubuntu', sans-serif;
$secondFont: 'Oxygen', sans-serif;
$h1Font: 'Gothic A1', sans-serif;

// Fonts Weight
$regular: 400;
$bold: 700;
$maxBold: 900;