.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32rem;
    height: 43.5rem;
    box-sizing: border-box;

    &__img {
        height: 15rem;
        width: 15rem;
        box-sizing: border-box;
    }

    &__tittle {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 5rem;
        color: $black;
        margin: 0.5rem 0 0 0;
        padding: 0;
    }

    &__text {
        font-family: $secondFont;
        font-weight: $regular;
        font-size: 2.5rem;
        color: $black;
        margin: 0.5rem 0 0 0;
        padding: 0;
    }

    &__text2 {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 3rem;
        color: $black;
        margin: 2.5rem 0;
        padding: 0;
    }
}