.contact-container {
    display: grid;
    grid-template-columns: 52.5rem 32rem ;
    grid-template-rows: 43.5rem;
    gap: 20rem;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    margin: 2.5rem 0 0 0;
}